<div>
  <mat-card *ngFor="let game of games" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" [style.backgroundImage]="'url(assets/images/users/user'+game.id+'.png)'">
      </div>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle>{{game.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/users/user{{game.id}}.png" alt="Photo of a user">
    <mat-card-content>
      <p>
       {{game.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
