<div class="login-container">
    <div class="login-content">
        <h1 class="title" className="login-title">SIGN IN</h1>
        <div class="social-login-container ">
            <a class="social-login" mat-button
            [href]="googleAuthUrl">
                <mat-icon style="width: 20px; height:30px" svgIcon="logoGoogle"></mat-icon> LOGIN WITH GOOGLE
            </a><br>
            <a class="social-login" mat-button
            [href]="myVar">
                <mat-icon style="width: 20px; height:30px" svgIcon="logoFacebook"></mat-icon> LOGIN WITH FACEBOOK
            </a><br>
            <a class="social-login" mat-button
                href="https://antarctica-lab.herokuapp.com/oauth2/authorize/google?redirect_uri=http://localhost:4200/oauth2/redirect">
                <mat-icon style="width: 20px; height:30px" svgIcon="logoGithub"></mat-icon> LOGIN WITH GITHUB
            </a><br>
            <button class="button-social-login" mat-button (click)="loginToGoogle();">
                SIGN IN to google test
            </button>

        </div>
        <div className="or-separator">
            <span className="or-text">OR</span>
        </div>
        <form class="form-registration">

            <mat-form-field>
                <mat-label>Email:</mat-label>
                <input matInput #email />
            </mat-form-field> <br>
            <mat-form-field>
                <mat-label>Password:</mat-label>
                <input matInput type="password" #password />
            </mat-form-field><br>
            <button class="button-social-login" mat-button (click)="login(email.value,password.value);">
                SIGN IN
            </button>
        </form>

    </div>
</div>