.article {
    width: 25%;
    display: list-item;
    float: left;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 959px) {
    .article {
        width: 50%;
        display: list-item;
        float: left;
        overflow: hidden;
        position: relative;
        margin: 0px;
        padding: 0px;
        border: none;
    }
}