<!-- <div zoom img-id="myimage" result-id="myresult">
  <h1>Image Zoom</h1>

  <p>Mouse over the image:</p>

  <div class="img-zoom-container">
    <img id="myimage" src="https://public-619e3.firebaseapp.com/Product-Gallery/products/normal/product-01_view-01.jpg"
      width="300" height="240" alt="Girl">
    <div id="myresult" class="img-zoom-result"></div>
  </div>

  <p>The image must be placed inside a container with relative positioning.</p>
  <p>The result can be put anywhere on the page, but must have the class name "img-zoom-result".</p>
  <p>Make sure both the image and the result have IDs. These IDs are used when a javaScript initiates the zoom effect.
  </p>

</div> -->

<!-- <div *ngIf="clothes">
  <h2>{{clothes[0].product.label|uppercase}} Details</h2>
  <div><span>label: </span>{{clothes[0].product.label}}</div>
  <div><span>description: </span>{{clothes[0].product.description}}</div>
  <div *ngFor="let cat of clothes[0].product.categories"><span>categorie: </span>{{cat.label}}</div>

</div> -->


<div class="container" *ngIf="clothes">
  <div class="box" zoom img-id="myimage" result-id="myresult">
    <div class="img-zoom-container">
      <div class="product-image-container">
        <div class="product-image-content"> <img id="myimage"
            src="https://public-619e3.firebaseapp.com/Product-Gallery/products/normal/product-01_view-01.jpg" alt="Girl"
            class="product-image">
        </div>
      </div>
      <div id="myresult" class="img-zoom-result"></div>
    </div>
    <div class="product-info">
      <a class="buy-button" [attr.href]="'//'+clothes[0].product.link">BUY PRODUCT</a>
      <h1 class="product-title">{{clothes[0].product.label|uppercase}}</h1>

      <div class="article" *ngFor="let price of clothes[0].prices">
        <p class="price" *ngIf="price.currency.label=='mad'">{{price.value}} {{price.currency.label|uppercase}}</p>
      </div>
      <p class="description">Description{{clothes[0].product.description}}</p>
      <div class="categories" *ngFor="let categorie of clothes[0].product.categories">
        <p> Categories: {{categorie.label}}</p>
      </div>
      <!-- <p> Majority: {{clothe.product.majority}}</p>
      <p *ngIf="clothe.product.gender=='w'"> Gender: Women</p>
      <p *ngIf="clothe.product.gender=='m'"> Gender: Men</p>
      <p *ngIf="clothe.product.gender=='u'"> Gender: Unisex</p> -->
      Color:
      <select class="color">
        <option *ngFor="let color of clothes">
          <div style="background-color: 'color.color.value';">{{color.color.value}}</div>
        </option>
      </select>
    </div>
  </div>
</div>
<button (click)="goBack()">Go back</button>