.img-zoom-container {
  position: relative;
  width: 300px;
  display: inline-block;
  margin-right: 10px;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid greenyellow;
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  
  width: 300px;
  height: 300px;
  border: 1px solid rgb(211, 211, 211);
  background-size:cover;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
}

.box {
  width: max-content;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 #999;
  padding-bottom: 20px;
}
.product-image-container{
  background-color: white;
}
.product-image-content{
  width: 300px;
  margin: auto;
  cursor: none;
  
}

.product-img {
  float: left;
  margin-top: 20px;
  transition: all 0.5s linear;
}

.product-img:hover {
  transform: scale(1.03);
}

.product-info {
  float: right;
  margin-top: 20px;
  margin-right: 40px;
}

.product-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2.5em;
  color: #333;
  font-family: "Archivo Black", sans-serif;
}

.price {
  margin-top: -40px;
  font-size: 35px;
  font-weight: bolder;
  color: coral;
}

.description {
  margin-top: -20px;
  margin-right: 10px;
  font-weight: bold;
  color: #555;
}

.color {
  margin-top: 25px;
  outline: none;
  border: 2px solid #999;
  padding: 5px;
  border-radius: 5px;
}

.qty {
  margin-top: 25px;
  outline: none;
  border: 2px solid #999;
  padding: 5px;
  border-radius: 5px;
}

.buy-button {
  margin-top: 10px;
  background: #333;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #fff;
  padding: 15px 30px;
  border: 0;
  border-radius: 10px;
  transition: all 0.3s linear;
  margin-left: 50px;
}

.buy-button:hover {
  background: #666;
}

.product-image {
  width: 200px;
  height: 200px;
  margin: auto;
  display: inline;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 0px;
  }
  .product-img {
    display: block;
    margin: auto;
    max-width: max-content;
    float: none;
  }
  .product-info {
    padding: 5px;
    float: none;
    margin: auto;
    margin-top: 20px;
    max-width: max-content;
    text-align: center;
    box-shadow: 0 0 2em rgba(113, 184, 255, 0.432);
    border-radius: 10px;
    padding-bottom: 50px;
  }
  .product-title {
    text-align: center;
  }
  .buy-button {
    margin: 0px;
  }
  .img-zoom-result {
    display: none;
  }
}

@media only screen and (max-device-width: 480px) {
  .box {
    margin: 20px;
  }
  .product-info {
    margin: 20px;
  }
}