<div zoom img-id="myimage" result-id="myresult">
  <h1>Image Zoom</h1>

  <p>Mouse over the image:</p>

  <div class="img-zoom-container">
    <img id="myimage" src="https://public-619e3.firebaseapp.com/Product-Gallery/products/normal/product-01_view-01.jpg"
      width="300" height="240" alt="Girl">
    <div id="myresult" class="img-zoom-result"></div>
  </div>

  <p>The image must be placed inside a container with relative positioning.</p>
  <p>The result can be put anywhere on the page, but must have the class name "img-zoom-result".</p>
  <p>Make sure both the image and the result have IDs. These IDs are used when a javaScript initiates the zoom effect.
  </p>

</div>