<div zoom img-id="myimage" result-id="myresult">
  <h1>Image Zoom</h1>

  <p>Mouse over the image:</p>

  <div class="img-zoom-container">
    <img id="myimage" src="https://public-619e3.firebaseapp.com/Product-Gallery/products/normal/product-01_view-01.jpg"
      width="300" height="240" alt="Girl">
    <div id="myresult" class="img-zoom-result"></div>
  </div>

  <p>The image must be placed inside a container with relative positioning.</p>
  <p>The result can be put anywhere on the page, but must have the class name "img-zoom-result".</p>
  <p>Make sure both the image and the result have IDs. These IDs are used when a javaScript initiates the zoom effect.
  </p>

</div>

<div *ngIf="clothe">
  <h2>{{clothe.label|uppercase}} Details</h2>
  <div><span>label: </span>{{clothe.label}}</div>
  <div><span>label: </span>{{clothe.description}}</div>
  <div><span>categorie: </span>{{clothe.categorie}}</div>

</div>
<button (click)="goBack()">Go back</button>
<!-- 
<div class="container" *ngIf="clothe">
  <div class="box" zoom img-id="myimage" result-id="myresult">
    <div class="img-zoom-container">
      <div class="product-image-container">
        <div class="product-image-content"> <img id="myimage"
            src="https://public-619e3.firebaseapp.com/Product-Gallery/products/normal/product-01_view-01.jpg" alt="Girl"
            class="product-image">
      </div>
      </div>
      <div id="myresult" class="img-zoom-result"></div>
    </div>
    <div class="product-info">
      <button class="buy-button">ADD TO CART</button>
      <h1 class="product-title">{{clothe.label|uppercase}}</h1>
      <p class="price">$49.99</p>
      <p class="description">Powerful tablet at an incredible price.</p>
      Color:
      <select class="color">
        <option>Black</option>
        <option>Blue</option>
        <option>Tangerine</option>
        <option>Magenta</option>
      </select> Quantity:
      <select class="qty">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
</div> -->